<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Choose Authentication</title>

    <link rel="stylesheet" th:href="@{/css/css/style.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<nav class="navbar">

    <div class="logo">
        SecureDocs
    </div>

    <div class="nav-links">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/about}">About</a>
    </div>

</nav>

<section class="section">

    <h2 class="section-title">
        Choose Your Authentication Method
    </h2>

    <p style="text-align:center; margin-bottom:40px; color:#555;">

        Select one authentication mechanism.

        <br><br>

        After successful authentication, you'll access the same Secure Documents
        application and also view a demonstration of how the selected authentication
        mechanism works internally.

    </p>

    <div class="card-container">

        <!-- HTTP BASIC -->

        <div class="card">

            <i class="fa-solid fa-key fa-3x"></i>

            <h3>HTTP Basic Authentication</h3>

            <p>

                Authenticate using the browser's built-in
                username and password popup.

            </p>

            <br>
            <a th:href="@{/basic/demo}" class="btn btn-primary">


                Continue
            </a>

        </div>

        <!-- SESSION -->

        <div class="card">

            <i class="fa-solid fa-user-lock fa-3x"></i>

            <h3>Session Authentication</h3>

            <p>

                Login using a web form.
                The server creates a session and stores your authentication.

            </p>

            <br>

            <a th:href="@{/session/login}" class="btn btn-primary">
                Continue
            </a>

        </div>

        <!-- JWT -->

        <div class="card">

            <i class="fa-solid fa-shield-halved fa-3x"></i>

            <h3>JWT Authentication</h3>

            <p>

                Login to generate a JSON Web Token.
                The token will be used for all future authenticated requests.

            </p>

            <br>

            <a th:href="@{/jwt/page}" class="btn btn-primary">
                Continue
            </a>

        </div>

    </div>

</section>

<footer>

    © 2026 Secure Document Management System

</footer>

</body>

</html>